<template name="aboutpage">
	<div class="container-fluid text-center">
		<h1 class="h1-label">Meet the Team</h1>
		<div class="row">
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="profpic">
						<img src="/erica.jpg" class="img-circle">
					</div>
					<div class="profdescrip">
						<p>Erica Wu '18</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="profpic">
						<img src="/nick.jpg" class="img-circle">
					</div>
					<div class="profdescrip">
						<p>Nick Jiang '18</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="profpic">
						<img src="/susan.jpg" class="img-circle">
					</div>
					<div class="profdescrip">
						<p>Susan Wang '18</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="profpic">
						<img src="/jzhang.jpg" class="img-circle">
					</div>
					<div class="profdescrip">
						<p>Jon Zhang '18</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="profpic">
						<img src="/jyu.jpg" class="img-circle">
					</div>
					<div class="profdescrip">
						<p>Jon Yu '18</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>