<template name="classlist">
  {{#if classes}}
  <div class="row">
    <div class="col-sm-2 col-md-offset-1">
      <p>Your classes:</p>
        <ul class="list-group">
          {{#each classes}}
            {{> classElem}}
          {{/each}}
        </ul>
      <a class="btn btn-primary btn-block" role="button">Add class</a>
    </div>
  </div>
  {{else}}
    <div>No Classes</div>
  {{/if}}
</template>

<template name="classElem">
  <li class="list-group-item class-list {{selectedClass}}">
    {{department}} {{number}}: {{name}}
  </li>
</template>

<template name="addClass">
  <form class="new-class">
    <input type="text" placeholder="department" name="department">
    <input type="number" placeholder="class number" name="number">
    <input type="text" placeholder="class name" name="name">
    <input type="submit" class="class-submit" value="submit">
  </form>
</template>

<template name="classSearch">
  <form class="class-search">
    <input type="text" class="searchTerm">
    <input type="submit" class="search-submit" value="submit">
  </form>
</template>

<template name="searchClasslist">
  {{#if classes}}
    <ul>
      {{#each classes}}
        {{> searchClassElem}}
      {{/each}}
    </ul>
  {{else}}
    <div>0 Search Results</div>
    <br>
  {{/if}}
</template>

<template name="searchClassElem">
  <li class="search-class-listing">
    <div>{{department}} {{number}}: {{name}}</div>
    <div>Professors: 
      {{#each prof_names}}
        {{profile.name}} 
      {{/each}}
    </div>
    <button class="enroll">Enroll</button>
  </li>
</template>