<template name="lecturelist">
  <div class="container2">
    <ul>
      {{#each lectures}}
        {{> lectureElem}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="lectureElem">
  <li class="lecture-listing">
    <div>Lecture {{number}}: {{name}}</div>
  </li>
</template>

<template name="addLecture">
  <form class="new-lecture">
    <input type="number" placeholder="lecture number" name="number">
    <input type="text" placeholder="lecture name" name="name">
    <input type="submit" class="lecture-submit" value="submit">
  </form>
</template>

<template name="newlecturelist">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <p>LECTURESSSSSS</p>
    </div>
  </div>  

</template>
