<template name="profile">
  {{> leaveTracker}}
  <div id="profile-topbar"></div>
  <div id="profile-sidebar">
    {{#unless isProf}}
    {{> search}}
    {{/unless}}
    {{#if isProf}}
    <li id="profile-sidebar-classlist-element-addclass">
      <a id="profile-sidebar-classlist-element-classinfo">
        <div id="profile-sidebar-classlist-element-listing">
          Add Class +
        </div>
      </a>
    </li>
    {{/if}}
    <div id="profile-sidebar-classlist-container" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
      <ul id="profile-sidebar-classlist">
        {{#each classes}}
        {{> classElem}}
        {{/each}}
      </ul>
    </div>
    {{#unless isProf}}
    {{> searchlist}}
    {{/unless}}
  </div>

  <section id="profile-questions">
    {{load}}
    {{#if noClass}}
    {{#if isProf}}
    {{> profileAddClass}}
    {{else}}
    WELCOME TO KWERI, STUDENT NICE TO SEE YOU HERE
    {{/if}}
    {{else}}
    {{#if addClass}}
    {{> profileAddClass}}
    {{else}}
    {{#if addLecture}}
    {{> profileAddLecture}}
    {{else}}
    {{#if aboutClass}}
    {{> profileAbout}}
    {{else}}
    {{#if noLecture}}
    {{#if isProf}}
    {{> profileAddLecture}}
    {{else}}
    WELCOME TO THE CLASS, STUDENT NICE TO SEE YOU HERE
    {{/if}}
    {{else}}
    {{> profileQuestions}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
  </section>

  <section id="profile-confusion">
    {{#if isProf}}
      {{#unless noClass}}
      {{#unless addClass}}
      {{#unless noLecture}}
      {{#unless addLecture}}
      {{#unless aboutClass}}
      {{> questionConCounter}}
      {{/unless}}
      {{/unless}}
      {{/unless}}
      {{/unless}}
      {{/unless}}
    {{/if}}
  </section>
</template>

<template name="profileAbout">
  <div class="profile-about-header">
    <h1>{{cDpt}} {{cNum}}: {{cName}}</h1>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-offset-2">
      <button type="button" class="btn btn-warning-outline profile-add-lecture">Add New Lecture</button>
    </div>
    <div class="col-sm-2 col-md-offset-2">
      <button type="button" class="btn btn-warning-outline profile-delete-class">Delete this Class</button>
    </div>
  </div>
  {{#if oneEnrolled}}
  <p>There is currently 1 student enrolled in this class.</p>
  {{else}}
  <p>There are currently {{numEnrolled}} students enrolled in this class.</p>
  {{/if}}
  
</template>

<template name="profileQuestions">
  <div id="wrapperdiv">
    <div class="questions-container">
      <div class="questions-header">
        <h1>{{cDpt}} {{cNum}}: {{cName}}</h1>
        <br>
        <h3>Lecture {{lNum}}: {{lName}}</h3>
        <h3 class="questions-dateString questions-outdateddate">{{dateString}}</h3>
        {{#unless isProf}}
          {{> questionbox}}
        {{/unless}}
      </div>
      <div class="questions-sorter">
        {{> questionsort}}
        {{#unless isProf}}
          <button class="questions-con-button">{{buttonText}}</button>
        {{/unless}}
      </div>
      <div class="questions-questionslist">
      {{> questionlist}}
      </div>
    </div>
  </div>
</template>

<template name="profileAddClass">
  <div class="questions-container">
    <header class="questions-header">
      <h1>Add Class</h1>
      <br><br>
      <form class="new-class">
        <input type="text" pattern="[A-Za-z]{3}" placeholder="department, e.g. COS" name="department" required>
        <br><br>
        <input type="number" placeholder="number, e.g. 333" name="number" required>
        <br><br>
        <input type="text" placeholder="name, e.g. Advanced Programming Techniques" name="name" required>
        <br><br>
        <input type="submit" class="class-submit" value="submit">
      </form>
    </header>
  </div>
</template>

<template name="profileAddLecture">
  <div class="questions-container">
    <header class="questions-header">
      <h1>{{cDpt}} {{cNum}}: {{cName}}</h1>
      <br>
      <h3>Add Lecture</h3>
      <br><br>
      <form class="new-lecture">
        <input type="number" pattern="[0-9]+" placeholder="lecture number (suggested: {{nLectNum}})" name="number" required>
        <br><br>
        <input type="text" placeholder="lecture name" name="name" required>
        <br><br>
        <input type="submit" class="lecture-submit" value="submit">
      </form>
    </header>
  </div>
</template>

<template name="classElem">
  <li id="profile-sidebar-classlist-element" class="{{selectedClass}}">
    <a id="profile-sidebar-classlist-element-classinfo">
      <div id="profile-sidebar-classlist-element-listing" class="{{selectedClass}}">
        {{department}} {{number}}
      </div>
      <div id="profile-sidebar-classlist-element-name" class="{{selectedClass}}">
        {{name}}
      </div>
    </a>
    <div id="profile-sidebar-lecturelist-container" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
      <ul id="profile-sidebar-lecturelist">
        {{#if isProf}}
        <li id="profile-sidebar-lecturelist-element-addlecture">
          <a>
            <div id="profile-sidebar-lecturelist-element-listing">
              Add Lecture
            </div>
          </a>
        </li>
        {{/if}}
        {{#each lectures _id}}
        {{> lectureElem}}
        {{/each}}
      </ul>
    </div>
  </li>
</template>

<template name="lectureElem">
  <li id="profile-sidebar-lecturelist-element" class="{{selectedLecture}}">
    <a>
      <div id="profile-sidebar-lecturelist-element-listing" class="{{selectedLecture}}">
        Lecture {{number}}: {{name}}
      </div>
    </a>
  </li>
</template>

<template name="search">
  <form id="profile-sidebar-search">
    <input id="profile-sidebar-searchbar" placeholder="Search course" type="text">
  </form>
</template>

<template name="searchlist">
  <div id="profile-sidebar-results">
    {{searchNum}} Search Results
  </div>
  <div id="profile-sidebar-classlist-container" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
    <ul id="profile-sidebar-searchclasslist">
      {{#each classes}}
      {{> searchElem}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="searchElem">
  <li id="profile-sidebar-classlist-element">
    <a>
      <div id="profile-sidebar-classlist-element-listing">
        {{department}} {{number}}
        <button id="profile-sidebar-enroll">Enroll</button>
      </div>
      <div id="profile-sidebar-classlist-element-name">
        {{name}}
      </div>
    </a>
  </li>
</template>

<template name="leaveTracker">
  <script language="JavaScript">
  window.onbeforeunload = leave;
  function leave(){
    var lecture =  Lectures.findOne(Session.get('lecture'));
    if (lecture.totalList.indexOf(Meteor.userId()) == 1) {
      Lectures.update(Session.get('lecture'), 
      {
        $pull: {totalList: Meteor.userId()}
      });
    }
    if (lecture.confuseList.indexOf(Meteor.userId()) != -1) {
      Lectures.update(Session.get('lecture'), 
      {
        $pull: {confuseList: Meteor.userId()}
      });
    }
  }
  </script>
</template>