<template name="profile">
  <div id="profile-topbar"></div>
  <div id="profile-sidebar">
    {{> search}}
    <div id="profile-sidebar-classlist-container" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
      <ul id="profile-sidebar-classlist">
        {{#each classes}}
          {{> classElem}}
        {{/each}}
      </ul>
    </div>
    {{> searchlist}}
  </div>

  <section id="profile-questions">
    {{#if loaded}}
      <div class="questions-container">
        <header>
          <h1>{{cDpt}} {{cNum}}: {{cName}}</h1>
          <br>
          <h3>Lecture {{lNum}}: {{lName}}</h3>
          <h3 class="questions-dateString">{{dateString}}</h3>
          {{#if isProf}}
            {{> questionConCounter}}
          {{/if}}
          {{#unless isProf}}
            {{> questionbox}}
          {{/unless}}
        </header>
        {{> questionlist}}
      </div>
    {{/if}}
  </section>

  <section id="profile-confusion">
  </section>
</template>

<template name="classElem">
  <li id="profile-sidebar-classlist-element" class="{{selectedClass}}">
    <a id="profile-sidebar-classlist-element-classinfo">
      <div id="profile-sidebar-classlist-element-listing">
        {{department}} {{number}}
      </div>
      <div id="profile-sidebar-classlist-element-name">
        {{name}}
      </div>
    </a>
    <ul id="profile-sidebar-lecturelist">
      {{#each lectures _id}}
        {{> lectureElem}}
      {{/each}}
    </ul>
  </li>
</template>

<template name="lectureElem">
  <li id="profile-sidebar-lecturelist-element" class="{{selectedLecture}}">
    <a>
      <div id="profile-sidebar-lecturelist-element-listing">
        Lecture {{number}}: {{name}}
      </div>
    </a>
  </li>
</template>

<template name="search">
  <form id="profile-sidebar-search">
    <input id="profile-sidebar-searchbar" placeholder="Search course" type="text">
  </form>
</template>

<template name="searchlist">
  <div id="profile-sidebar-results">
    {{searchNum}} Search Results
  </div>
  <div id="profile-sidebar-classlist-container" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
    <ul id="profile-sidebar-searchclasslist">
      {{#each classes}}
        {{> searchElem}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="searchElem">
  <li id="profile-sidebar-classlist-element">
    <a>
      <div id="profile-sidebar-classlist-element-listing">
        {{department}} {{number}}
        <button id="profile-sidebar-enroll">Enroll</button>
      </div>
      <div id="profile-sidebar-classlist-element-name">
        {{name}}
      </div>
    </a>
  </li>
</template>