<template name="questionbox">
  <form class="questions-newQuestion">
    <input type="text" name="qText" placeholder="Post new question">
    <input type="submit" class="questions-submit" value="submit">
    <button class="questions-con-button">I'm Confused</button>
  </form>
</template>

<template name="questionlist">
  <div class="questions-listContainer">
    <ul class="questions-list">
      {{#each questionsTop}}
        {{> question}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="question">
  <li class="questions-listItem">

    <div class="questions-infoContainer">
      <div class="questions-text">{{qText}}</div>
      <div class="questions-dateText">{{createdAtToString}}</div>
    </div>

    <div class="questions-vote">
      {{#if upvoted}}
        <button class="questions-down">{{value}}</button>
      {{else}}
        <button class="questions-up">{{value}}</button>
      {{/if}}
    </div>

    <div class="questions-options">
      {{#if upvoted}}
        <button class="questions-undoupvote">Undo Upvote</button>
      {{else}}
        <button class="questions-upvote">Upvote</button>
      {{/if}}
      <button class="questions-delete">Delete</button>
      <button class="questions-markasimportant">Mark as Important</button>
    </div>

  </li>
</template>

<template name="questionConCounter">
  <div class="questions-barContainer">
    <div class="questions-vertical progress">
      <div class="progress-bar {{color}}" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%;"></div>
    </div>
  </div>
</template>