
<template name="questionbox">
  <form class="questions-newQuestion">
    <input type="text" name="qText" placeholder="Post new question">
    <input type="submit" class="questions-submit {{outdatedbutton}}" value="Post">
  </form>
</template>

<template name="questionsort">
  <button id="questions-sortbytime" class="{{selectedtimesorter}}">New</button><button id="questions-sortbyvotes" class="{{selectedvotesorter}}">Top</button>
</template>

<template name="questionlist">
  <div class="questions-listContainer" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
    <ul class="questions-list">
      {{#if sortkeytime}}
        {{#each questionsTop}}
          {{> question}}
        {{/each}}
      {{else}}
        {{#each questionsNew}}
          {{> question}}
        {{/each}}
      {{/if}}
    </ul>
  </div>
</template>

<template name="question">

  <li class="questions-listItem {{createdbyself}} {{markedasimportant}}">

    <div class="question-score">
      {{value}}
    </div>
    <div class="questions-infoContainer">
      <div class="questions-text">{{qText}}</div>
    </div>

    <div class="questions-options">
      {{#unless isProf}}
        {{#if upvoted}}
          <button class="questions-unvote">Unvote</button>
        {{else}}
          <button class="questions-upvote">Upvote</button>
        {{/if}}
      {{/unless}}
      {{#if isProf}}
        <button class="questions-delete">Delete</button>
        {{#if importantbutton}}
          <button class="questions-markasimportant">Unmark as important</button>
        {{else}}
          <button class="questions-markasimportant">Mark as Important</button>
        {{/if}}
      {{/if}}
      <span class="questions-date">{{createdAtToString}}</span>
      {{#unless isProf}}
        {{#if selfdeletebutton}}
          <button class="questions-selfdelete">Delete</button>
        {{/if}}
      {{/unless}}
    </div>
  </li>
</template>

<template name="questionConCounter">
      <div id = "questions-progressbar-container">
        <div class = "questions-confused-title-text"><h4>Confusion Counter</h4></div>
        <div class = "questions-confused-text">{{confuseListLength}}/{{totalListLength}}</div>
        <div class="progress progress-bar-vertical">
          <div class="progress-bar {{color}}" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: {{percent}}%;">
            <span class="sr-only">30% Complete</span>
          </div>
        </div>
        <div class="questions-conSpace"></div>
        <div class="questions-conReset">
          <button class="questions-conReset-button">Reset</button>
        </div>
      </div>
</template>