<template name="questionbox">
  <form class="questions-newQuestion">
    <input type="text" name="qText" placeholder="Post new question">
    <input type="submit" class="questions-submit" value="submit">
  </form>
</template>

<template name="questionlist">
  <div class="questions-listContainer">
    <ul class="questions-list">
      {{#each questionsTop}}
        {{> question}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="question">
  <li class="questions-listItem">
    <div class="questions-infoContainer">
      <div class="questions-text">{{qText}}</div>
      <div class="questions-dateText">{{createdAtToString}}</div>
    </div>
    {{#if upvoted}}
      <button class="questions-down">{{value}}</button>
    {{else}}
      <button class="questions-up">{{value}}</button>
    {{/if}}
  </li>
</template>