.about-container {
	background-color: #E5EBF2;
}
.about-grouppic {
	max-height: 450px;
	width: auto;
}
.about-thumbnail {
	margin-bottom: 30px;
	background-color: transparent;
	height: 200px;
}
.container-fluid {
	height: 100%;
	overflow: auto;
}
.profpic {
	margin: auto;
	height: 200px;
	width: 200px;
	position: relative;
}

.profpic .img-circle {
	height: 100%;
	width: auto;
}

.profdescrip {
	color: black;
}

.about-h1 {
	margin-top: 70px;
	margin-bottom: 10px;
}

.about-h2 {
	margin: 20px;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 500;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 200px;
	height: 200px;
	margin: auto;
}

/* flip speed goes here */
.flipper {
	transition: 0.1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}