/*.title-bar {
  width: 100%;
  padding: 7px 20px 7px 20px;
  background: #B6D53B;
}
.title-bar a {
  cursor: pointer;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.title-bar a:link, .title-bar a:visited, .title-bar a:hover, .title-bar a:active { color: #000000; }
.title-bar .title-profile-arrow {
  float: right;
}
.title-bar .title-profile-link {
  float: right;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  text-decoration: underline;
}
.title-bar .title-login {
  float: right;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  text-decoration: underline;
}*/

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  background: #333333;
  color: #000000;
}

h1 {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  padding-top: 2px;
  position: absolute;
  bottom: 0;
  font-family: sans-serif;
  font-size: 0.6em;
  text-align: right;
  color: #FFFFFF;
  background-color: #333333;
}