#profile-topbar {
  width:100%;
  height:51px;
  background-color:#03344B;
  position: absolute;
}

#profile-sidebar {
  background-color: #03344B;
  height:100%;
  width:16%;
  float:left;
  padding: 51px 0px 0px 0px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile-questions {
  background-color:#f0f3f6;
  height:100%;
  width:70%;
  float:left;
  padding: 51px 0px 0px 0px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile-confusion {
  background-color:#03344B;
  height:100%;
  width:14%;
  float:left;
  padding: 51px 0px 0px 0px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.stud-right-side {
  /*background-color:#fff;
  height:100%;
  width:0%;
  float:left;*/
  /*padding: 51px 0px 0px 0px;*/
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile-sidebar-search {
  width: 100%;
  margin: 5px 0px;
  text-align: center;
}

#profile-sidebar-searchbar {
  width: 95%;
  outline: none;
  border-radius: 0px;
  border: none;
  background-color: #F0F3F6;
  color: #333333;

  padding: 5px 8px;
  font-size: 0.9em;
}

.questions-container h3.questions-outdateddate {
  color: #FF0000 !important;
}

#profile-sidebar-classlist-container {
  max-height:40%;
  overflow-y: auto;
  overflow: hidden;
}

#profile-sidebar-classlist {
  height:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#profile-sidebar-classlist-element {
  position: relative;
  display: block;
  background-color: #03344B;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #FDFDFD;
  cursor: pointer;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile-sidebar-classlist-element.selected {
  background-color: #f0f3f6 !important;
}

#profile-sidebar-classlist-element a {
  text-decoration: none;
  color: #E5EBF2;
  padding: 3px 0px 3px 10px;
  font-size: 0.75em;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;

  display: block;
}

#profile-sidebar-classlist-element-listing.selected {
  color: #333333;
}

#profile-sidebar-classlist-element-name.selected {
  color: #333333;
}

#profile-sidebar-classlist-element a:hover div {
  color: #00c6d7 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#profile-sidebar-classlist-element-addclass {
  position: relative;
  display: block;
  background-color: #03344B;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #AAAAAA;
  cursor: pointer;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#profile-sidebar-classlist-element-addclass a {
  text-decoration: none;
  color: #E5EBF2;
  padding: 3px 0px 3px 10px;
  font-size: 0.75em;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;

  display: block;
}

#profile-sidebar-classlist-element-addclass a:hover div{
  color: #00c6d7 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;

  display: block;
}

#profile-sidebar-classlist-element-listing {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #FFFFFF;
  background: transparent;
}

#profile-sidebar-classlist-element-name {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #FFFFFF;
  background: transparent;
}

#profile-sidebar-lecturelist-container {
  overflow-y: auto;
  overflow: hidden;
}

#profile-sidebar-lecturelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 0px;
  max-width: 100%;
  /*overflow-x: hidden;*/
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  -ms-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

#profile-sidebar-classlist-element:hover #profile-sidebar-lecturelist {
  max-height: 100px;
  overflow: scroll;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  -ms-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

#profile-sidebar-lecturelist-element {
  position: relative;
  display: block;
  background-color: #555555;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  cursor: pointer;
  border-top: 1px solid #666666;
}

#profile-sidebar-lecturelist-element-listing.selected {
  color: #00c6d7;
}

#profile-sidebar-lecturelist-element a {
  text-decoration: none;
  padding: 3px 0px 3px 0px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;

  display: block;
}

#profile-sidebar-lecturelist-element a:hover div {
  color: #00c6d7 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#profile-sidebar-lecturelist-element-addlecture {
  position: relative;
  padding: 3px 0px 3px 0px;
  display: block;
  background-color: #03344B;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  cursor: pointer;
  border-top: 1px solid #666666;
  font-weight: bold;
}

#profile-sidebar-lecturelist-element-addlecture a {
  text-decoration: none;
  color: #E5EBF2;
  padding: 0px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;

  display: block;
}

#profile-sidebar-lecturelist-element-addlecture a:hover {
  color: #00c6d7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;

  display: block;
}

#profile-sidebar-lecturelist-element-listing {
  font-size: 0.8em;
  margin-left: 20px;
}

#profile-sidebar-enroll {
  font-weight: normal;
  font-size: 0.9em;
  margin-top: 8px;
  margin-right: 10px;
  background: none;
  border: 1.5px #FFFFFF solid;
  border-radius: 3px;
  float: right;
}

#profile-sidebar-results {
  color: #E5EBF2;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  color: #E0E0E0;
  /*border-bottom: 1px #FDFDFD solid;*/
  border: none;
}

#profile-sidebar-searchclasslist {
  height:40%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Add Class Page */
.new-class input[type="text"], .new-class input[type="number"], .new-lecture input[type="text"], .new-lecture input[type="number"] {
  padding: 10px 0;
  background: transparent;
  border: 1px #AAAAAA solid;
  border-radius: 3px;
  height: 35px;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  color: #333333;
}

.class-submit, .lecture-submit {
  cursor: pointer;
  background: #333333;
  color: #FDFDFD;
  font-size: 1em;
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  width: 45%;
}

.profile-about-header {
  margin-left: 2%;
}

.profile-about-body {
  margin-top: 3%;
}

.profile-about-body-desc {
  margin-left: 3%;
}

.profile-about-header h1 {
  margin: 0;
}
.profile-delete-class {
  min-width: 130px;
  vertical-align: middle;
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #E5EBF2;

}
.profile-add-lecture {
  min-width: 100px;
  display: inline-block;
  overflow: hidden;
}

.panel-lecture-title {
  font-weight: bold;
}
.vertical-lect-list {

  vertical-align: middle;
  display: inline-block;
}

.glyphicon-remove-circle {
  float: right;
  vertical-align: middle;
}

.glyphicon-remove-circle:hover {
  color: #FF0000;
}

.glyphicon-plus {
  float: right;
  vertical-align: middle;
}

.glyphicon-plus:hover {
  color: #30a5ff;
}


/* Add Lecture Page */

