.questions-container {
  margin: 0 auto;
  max-width: 800px;
  min-height: 100px;
}

.questions-listContainer {
  max-width: 100%;
  height: 600px;
  overflow-y: auto;
  /* Hide on default. Unhide on mouseover. See html for more */
  overflow:hidden;

}
/* Scroll bar formatting */
.questions-listContainer::-webkit-scrollbar {
    width: 1em;
}
 
.questions-listContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.questions-listContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/* End scroll bar formatting */

.questions-container header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

.questions-container h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline-block;
  color: #EEEEEE;
}

.questions-container h3 {
  font-size: 1em;
  margin: 0;
  margin-bottom: 10px;
  margin-right: 1em;
  display: inline-block;
  color: #EEEEEE;
}

.questions-container h3.questions-dateString {
  margin-left: 100px;
}

.questions-scoreContainer button {
  cursor: pointer;
  background: transparent;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  border: none;
  outline: none;
}

.questions-submit {
  cursor: pointer;
  background: #777777;
  color: #FFF;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.questions-newQuestion input[type="text"] {
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 60%;
  padding-right: 80px;
  font-size: 1em;
  border-bottom: #EEEEEE 1px solid;
  color: #FFFFFF;
}

.questions-newQuestion input:focus{
  outline: 0;
}

ul.questions-list  {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  padding: 10px;
}

li.questions-listItem {
  background: #FAFAFA;
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #333333 solid 2px;
  border-radius: 15px; /* 50px */
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li.questions-listItem .questions-infoContainer {
  width: 75%;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

li.questions-listItem .questions-text {
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
  margin-left: 10px;
}

li.questions-listItem .questions-dateText {
  margin-top: 1px;
  margin-left: 20px;
  font-size: 0.6em;
}

li.questions-listItem .questions-down {
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  border: solid 3px #86A50B;
  border-radius: 40px;
  background: #D6F55B;
  color: #86A50B;
  font-weight: bold;
  float: right;
}

li.questions-listItem .questions-up {
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  border: solid 3px #86A50B;
  border-radius: 40px;
  background: transparent;
  color: #86A50B;
  font-weight: bold;
  float: right;
}

.questions-con-button {
  background: #777777;
  color: #FFF;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  float: right;
  margin-top: 5px;
}

.questions-barContainer {
  padding-top: 20px;
}
.questions-vertical {
  display: inline-block;
  width: 100%;
  height: 20px;
  /*-webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);*/
}
.questions-vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

.questions-delete {
  float: left;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}