.questions-container {
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
}

.questions-sorter {
  margin: 0 auto;
  display: inline-block;
  background: transparent;
  text-align: center;
  width: 100%;
}

.questions-sortbytime:hover, .questions-sortbyvotes:hover {
  background: #777777;
}

.questions-sortbytime {
  color: #FFFFFF;
  border: 1.2px solid #FFFFFF;
  background: transparent;
  outline: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 4px 8px;
  font-size: 0.9em;
}

.questions-sortbyvotes {
  color: #FFFFFF;
  border: 1.2px solid #FFFFFF;
  background: transparent;
  outline: none;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 4px 8px;
  font-size: 0.9em;
}

.questions-listContainer {
  max-width: 100%;
  height: 500px;
  overflow-y: auto;
  /* Hide on default. Unhide on mouseover. See html for more */
  overflow: hidden;

}
/* Scroll bar formatting */
.questions-listContainer::-webkit-scrollbar {
    width: 1em;
}
 
.questions-listContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.questions-listContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/* End scroll bar formatting */

.questions-container header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

.questions-container h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline-block;
  color: #EEEEEE;
}

.questions-container h3 {
  font-size: 1em;
  margin: 0;
  margin-bottom: 10px;
  margin-right: 1em;
  display: inline-block;
  color: #EEEEEE;
}

.questions-container h3.questions-dateString {
  margin-left: 100px;
}

.questions-submit {
  cursor: pointer;
  background: #777777;
  color: #FFF;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.questions-newQuestion input[type="text"] {
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 60%;
  padding-right: 80px;
  font-size: 1em;
  border-bottom: #EEEEEE 1px solid;
  color: #FFFFFF;
}

.questions-newQuestion input:focus{
  outline: 0;
}

ul.questions-list  {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  padding: 10px;
}

li.questions-listItem {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 3px;
  background: #FFF;
  -moz-box-shadow: 0 0 5px #dedede;
  -webkit-box-shadow: 0 0 5px #dedede;
  box-shadow: 0 0 5px #dedede;
  position: relative;
}

li.questions-listItem .question-score {
  position: absolute;
  top: 20px;
  left: 20px;
  float: left;
  text-align: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding: 2px;
  border: 1.5px solid #dedede;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

li.questions-listItem .questions-infoContainer {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-left: 65px;
  margin-bottom: 10px;
}

li.questions-listItem .questions-text {
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
  margin-left: 10px;
}

li.questions-listItem .questions-dateText {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 0.7em;
  color: #888888;
}

li.questions-listItem .questions-vote {
  float: right;
  vertical-align: middle;
}

li.questions-listItem .questions-down {
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  /*border: solid 3px #86A50B;*/
  /*border-radius: 40px;*/
  border: none;
  /*background: #D6F55B;*/
  background: transparent;
  /*color: #86A50B;*/
  color: #33A1DE;
  /*font-weight: bold;*/
  /*float: right;*/
  font-size: 1.8em;
}

li.questions-listItem .questions-up {
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  /*border: solid 3px #86A50B;*/
  /*border-radius: 40px;*/
  border: none;
  background: transparent;
  /*color: #86A50B;*/
  color: #33A1DE;
  /*font-weight: bold;*/
  /*float: right;*/
  font-size: 1.8em;
}

li.questions-listItem .questions-options {
  clear: both;
  position: relative;
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 79px;
  border-top: 1px solid #DDDDDD;
}

li.questions-listItem .questions-upvote {
  background: none;
  width: 55px;
  text-align: left;
  border: none;
  font-size: 0.8em;
  color: #4CBB17;
}

li.questions-listItem .questions-unvote {
  background: none;
  width: 55px;
  text-align: left;
  border: none;
  font-size: 0.8em;
  color: #FF6666;
}

li.questions-listItem .questions-delete {
  background: none;
  border: none;
  font-size: 0.8em;
  color: #FF6666;
}

li.questions-listItem .questions-markasimportant {
  background: none;
  border: none;
  font-size: 0.8em;
  color: #33A1DE
}

.questions-con-button {
  background: #777777;
  color: #FFF;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  float: right;
  margin-top: 5px;
}
.questions-conReset-button {
  background: #777777;
  color: #FFF;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  float: right;
  margin-top: 5px;
}

.questions-barContainer {
  padding-top: 20px;
}
.questions-vertical {
  display: inline-block;
  width: 300px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
/*  transform: rotate(-90deg);
  float: right;*/
}
.questions-vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

